.container {
  margin: 150px 300px;
}

.description {
  font-family: 'HiroshigeStd';
  font-size: 18px;
  margin: 0px 20px;
}

.intro {
  font-size: 36px;
  text-align: center;
  font-family: 'HiroshigeStd';
}
.picture {
  width: 400px;
  margin: auto;
}

@media screen and (max-width: 1350px) {
  .container {
    margin: 150px 200px;
  }
}

@media screen and (min-width: 1100px) {
  .intro {
    font-size: 46px;
  }
}

@media screen and (max-width: 1100px) {
  .container {
    margin: 150px 80px;
  }
  .picture {
    width: 300px;
  }
}

@media screen and (max-width: 1350px) {
  .container {
    margin: 150px 200px;
  }
}

@media screen and (max-width: 950px) {
  .container {
    margin: 100px 10px;
  }
  .text {
    padding: 10px 0px;
  }
  .intro {
    font-size: 26px;
  }
}
