.input,
.textarea,
.button {
  background-color: transparent;
  border: solid black 1px;
  color: black;
  padding: 10px;
  margin: 10px;
  width: 250px;
}
.textarea {
  height: 150px;
}

.button {
  width: 273px;
}
