.container {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.instaFeedContainer {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 100px 300px 0px 300px;
}

.instaPicture {
  width: 100%;
}

.instaPicture > img {
  width: 100%;
}

.containerInstaPix {
  padding: 5px;
  flex: 1 0 29.333333%;
}

@media screen and (max-width: 1200px) {
  .instaFeedContainer {
    margin: 100px 200px 0px 200px;
  }
}

@media screen and (max-width: 1000px) {
  .instaFeedContainer {
    margin: 100px 100px 0px 100px;
  }
}

@media screen and (max-width: 700px) {
  .containerInstaPix {
    flex: 1 0 50%;
  }
  .instaFeedContainer {
    margin: 100px 50px 0px 50px;
  }
}
