.salonInfo {
  font-family: 'HiroshigeStd';
  display: flex;
  padding: 50px 0px 0px 0px;
}

.leSalon {
  margin: 0px 30px;
}

.leSalon > p {
  font-size: 35px;
  margin: 0 0 30px;
}

.italic {
  font-style: italic;
  text-align: start;
}

.socialNetwork {
  list-style-type: none;
  text-align: start;
}

.end {
  padding-left: 35px;
  padding-bottom: 5px;
  text-align: start;
}

.mail {
  /* text-decoration: none !important; */
  color: black !important;
}

.title {
  padding-left: 35px;
  padding-bottom: 5px;
  text-align: start;
  font-family: 'HiroshigeStd-Bold';
  font-size: x-large;
}

.containerImg {
  margin: 0 30px;
  width: 400px;
}
.containerImg img {
  width: 100%;
}
