.salonInfo {
  font-family: 'HiroshigeStd';
  display: flex;
  justify-content: center;
  padding: 50px 0px 0px 0px;
}

.leSalon {
  margin: 0px 30px;
}

.leSalon > p {
  font-size: 35px;
  margin: 0 0 30px;
}

.italic {
  font-style: italic;
  text-align: start;
}

.socialNetwork {
  list-style-type: none;
  text-align: start;
}

.end {
  padding-left: 35px;
  padding-bottom: 5px;
  text-align: start;
}

.mail {
  color: black !important;
}

.title {
  padding-left: 35px;
  padding-bottom: 5px;
  text-align: start;
  font-family: 'HiroshigeStd-Bold';
  font-size: x-large;
}

.containerImg {
  margin: 0 30px;
  width: 400px;
}
.containerImg img {
  width: 100%;
}
.mobileTitle {
  text-align: center;
  font-family: 'HiroshigeStd-Bold';
  font-size: x-large;
}

@media (max-width: 950px) {
  .title {
    display: none;
  }
  .salonInfo {
    flex-direction: column;
  }
  .salonInfo {
    padding: 0px;
  }
}
@media (min-width: 950px) {
  .mobileTitle {
    display: none;
  }
}
